<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CashMe</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon (falta por añadir) -->
    <link href="/images/logoCashMe.jpg" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">


    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Paloma Stylesheet -->
    <link href="/stylesheets/paloma.css" rel="stylesheet">

    </head>
    
    <body>
    
        <!-- Navbar Start -->
        <div class="container-fluid position-relative nav-bar p-0" id="top">
            <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
                <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                    <a href="/" class="navbar-brand"> <!-- href a HOME -->
                        <h1 class="m-0 text-primary"><span class="text-dark">Cash</span>Me<h3>Admin</h3></h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                        <div class="navbar-nav ml-auto py-0">
                            <a href="/adminHome" class="nav-item nav-link active">Home</a> 
                            <a href="/adminHome#adminStatistics" class="nav-item nav-link">Statistics</a>
                            <a href="/adminHome#userList" class="nav-item nav-link">Users</a>
                            <a href="/adminContact" class="nav-item nav-link">Contacts</a>
                            <a href="/adminGarden"  class="nav-item nav-link">Garden</a> 
                            <a href="/adminBlog"  class="nav-item nav-link">Blog</a> 
                            <a href="/login"  class="nav-item nav-link">Log out</a> 
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->