<%- include('adminHeader') %> 
    <!--DashBoard Start-->
    <div class="container" id="top">
        <h1>Services </h1>
        <div class="ServiceNum">
            <!-- Statistics Start -->
            <h2> Statistics </h2>
            <div class="imgparagraph">                
                  
            </div>
            <!-- Statistics End--> 
            <!-- User List Start--> 
           <h2> User List </h2>
           <div class="imgparagraph">
                
           </div>     
            <!-- User List End--> 
            <!-- Pre-Garden -->
            <h2> Garden </h2>
            <div class="imgparagraph">
                            
            </div>
            <!-- Pre-Garden End -->
        </div>
        
    </div>

    <!-- Dashboard Stop -->
        
<%- include('footer') %>


        