<!--Admin Home Page . EJS-->
<%- include('adminHeader') %> 
    <!--DashBoard Start-->
    <div class="container" id="top">
        <h1>Services </h1>
        <div class="ServiceNum">
            <!-- Statistics Start -->
            <h2 id="statistics-display">Statistics</h2>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="color: #333; border-color: #333;">
                <canvas class="my-4 w-100" id="myChart" width="880" height="371" style="display: block; box-sizing: border-box; height: 330px; width: 782px;"></canvas>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="../routes/adminHome.js"></script> 
            <!-- Statistics End--> 
            <!-- User List Start--> 
           <h2> User List </h2>
           <div class="imgparagraph">
                
           </div>     
            <!-- User List End--> 
            <!-- Pre-Garden -->
            <h2> Garden </h2>
            <div class="imgparagraph">
                            
            </div>
            <!-- Pre-Garden End -->
        </div>
        
    </div>

    <!-- Dashboard Stop -->
        
<%- include('footer') %>


        