<%- include('header') %>
<link rel="stylesheet" href="/stylesheets/AccessDenied.css">
<div class="container text-center">
    <h1>Access Denied</h1>
    <p>We're sorry, your access has been <strong>blocked</strong>. You currently do not have permission to view this section.</p>
    <p>If you believe this is a mistake or need further assistance, please visit our <a href="/contact">contact page</a> to submit a request.</p>
    <div class="hourglassBackground">
      <div class="hourglassContainer">
            <div class="hourglassCurves"></div>
            <div class="hourglassCapTop"></div>
            <div class="hourglassGlassTop"></div>
            <div class="hourglassSand"></div>
            <div class="hourglassSandStream"></div>
            <div class="hourglassCapBottom"></div>
            <div class="hourglassGlass"></div>
      </div>
    </div>
</div>

<%- include('footer') %>

