<%- include('header') %> 
    <!-- Blog Start-->
    <main class="container mt-5">
        <div class="row">
            <!-- Entrada 1 -->
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Título de la Entrada</h5>
                        <p class="card-text text-muted">Publicado el 25 de noviembre de 2024</p>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula dolor ut sapien aliquam, quis tempor nisi facilisis...
                        </p>
                        <a href="#" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>

            <!-- Entrada 2 -->
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Otro Título Interesante</h5>
                        <p class="card-text text-muted">Publicado el 24 de noviembre de 2024</p>
                        <p class="card-text">
                            Vivamus eget elit a sapien tincidunt bibendum. Curabitur fringilla euismod risus, quis vulputate odio interdum non...
                        </p>
                        <a href="#" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>

            <!-- Entrada 3 -->
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Otro Título Interesante</h5>
                        <p class="card-text text-muted">Publicado el 24 de noviembre de 2024</p>
                        <p class="card-text">
                            Vivamus eget elit a sapien tincidunt bibendum. Curabitur fringilla euismod risus, quis vulputate odio interdum non...
                        </p>
                        <a href="#" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Blog End-->

        
<%- include('footer') %>


        