<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CashMe</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon (falta por añadir) -->
    <link href="/images/logoCashMe.jpg" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">


    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Paloma Stylesheet -->
    <link href="/stylesheets/paloma.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>

    </head>
    
    <body>
    
        <!-- Navbar Start -->
        <div class="container-fluid position-relative nav-bar p-0">
            <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0">
                <a href="/" class="navbar-brand ml-5"> <!-- href a HOME -->
                    <h1 class="ml-5 text-primary"><span class="text-dark">Cash</span>Me</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3 mr-5" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <a href="/aboutus" class="nav-item nav-link">About Us</a>
                        <a href="/services" class="nav-item nav-link">Services</a>
                        <a href="/blog" class="nav-item nav-link">Blog</a>
                        <a href="/contact" class="nav-item nav-link">Contact Us</a>

                        <% if (typeof (user) == 'undefined') { %>
                            <a href="/login" class="nav-item nav-link">Log In</a>
                        <% } else { %>
                            <a href="/chat" class="nav-item nav-link">Chat</a>
                            <a href="/analytics" class="nav-item nav-link">Analytics</a>
                            <a href="/transactions" class="nav-item nav-link">Transactions</a>
                            <a href="/profile" class="nav-item nav-link">Profile</a>
                            <a href="/logout" class="nav-item nav-link">Log out</a>
                        <% } %>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Navbar End -->
