<%- include('header') %> 
    <!--Services Start-->
    <div class="container" id="top">
        <h1>Services </h1>
        <div class="ServiceNum">
            <!-- DashBoard Start -->
            <h2> Dashboard </h2>
            <div class="imgparagraph">
                <div class="imgtext">
                    <img src="/images/DashboardServices.png">   
                </div>
                <div class="paragraphNext">
                    <p>
                        Our Dashboard is an intuitive tool that helps you manage your finances effectively. Enter and categorize your expenses to have complete control over your budget.
                    </p>
                    <p>
                        <strong>Features:</strong>
                    </p>
                    <ul>
                        <li><strong>Expense Tracking:</strong> Add and classify your daily expenses.</li>
                        <li><strong>Recommendations:</strong> Receive personalized advice to optimize your finances.</li>
                        <li><strong>Visualization:</strong> Interactive charts to analyze your spending trends.</li>
                        <li><strong>Alerts:</strong> Notifications about unusual expenses and savings goals.</li>
                    </ul>
                    <p>
                        Start taking control of your money today!
                    </p>
                </div>
                  
            </div>
            <!-- DashBoard End--> 
            <!-- Add Expenses Start--> 
           <h2> Add Expenses </h2>
           <div class="imgparagraph">
                <div class="paragraphNext">
                    <p>
                        The "Add Expenses" service allows you to keep a detailed record of your daily expenses quickly and easily. You only need to enter the amount, select a category, and add a brief description to have complete control over your finances.
                    </p>
                    <p>
                        Organize your expenses into customizable categories, such as food, transportation, and entertainment, which will help you identify your spending patterns. Additionally, you can consult your history at any time, making it easier to make informed decisions to improve your financial management.
                    </p>
                    <p>
                        Start using the "Add Expenses" service and take control of your personal finances!
                    </p>
                </div>
                <div class="imgtext">
                    <img src="/images/anadirgastos.png" >   
                </div>
            </div>
            
            <!-- Add Expenses End--> 
            <!-- Rewards Start-->
            <h2> Rewards </h2>
            <div class="imgparagraph">
                <div class="imgtext">
                    <img src="/images/rewardTree.png">   
                </div>
                <div class="paragraphNext">
                    <p>
                        With our "Rewards" system, every time you reach a goal or take a significant action in the app, you will receive a reward that helps motivate you on your financial journey. The more "coins" you accumulate, the more you can grow your virtual tree, change its type, and add personalized decorations.
                    </p>
                    <p>
                        This system not only allows you to customize your tree, but it also adds an element of fun to your financial management. Showing off your tree and achievements is a way to celebrate your successes while continuing to improve your spending and saving habits.
                    </p>
                    <p>
                        So don’t wait any longer! Start reaching your goals and enjoy the rewards that await you at every step of the way!
                    </p>
                </div>                
            </div>
            <!-- Rewards End -->

            <!-- Chats Start -->
            <h2>Chats</h2>
            <div class="chats">
                <div id="imgChats">
                    <img src="/images/anadirgastos.png">
                    <img src="/images/anadirgastos.png">
                    <img src="/images/anadirgastos.png">
                </div>
                <div id="textChats">
                    <ul>
                        <li>
                            Our Messaging Service allows you to maintain smooth communication with both your friends and the app administrator. Share your experiences, tips, and financial goals in a secure and private environment.
                        </li>
                        <li>
                            You can send direct messages to your friends to motivate them and celebrate achievements together, as well as consult with the administrator about any questions or suggestions you have regarding the app.
                        </li>
                        <li>
                            Messaging is an essential tool for creating an active and supportive community where every user can receive support and share their progress. Connect and enjoy social interaction while managing your finances!
                        </li>
                    </ul>
                </div>
                
            </div>
            <!-- Chats End -->
        </div>
        
    </div>

    <!-- Services Stop -->
        
<%- include('footer') %>


        