/* From Uiverse.io by 212004ALJI */ 

:root{
    --font-family-sans-serif: "Poppins", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

#enableFullscreen,#enableFullscreen::after {
    padding: 10px 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    position: relative;
  }
  
  #enableFullscreen::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'Activar Pantalla Completa';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
  
  #enableFullscreen:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
    background-color: transparent;
    border: 3px solid rgb(0, 255, 213);
  }
  
  #enableFullscreen:hover {
    text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
  }
  
  #enableFullscreen:hover {
    background-color: transparent;
    border: 1px solid rgb(0, 255, 213);
    box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
  }
  
  @keyframes glitch_4011 {
    0% {
      clip-path: var(--move1);
      transform: translate(0px,-10px);
    }
  
    10% {
      clip-path: var(--move2);
      transform: translate(-10px,10px);
    }
  
    20% {
      clip-path: var(--move3);
      transform: translate(10px,0px);
    }
  
    30% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    40% {
      clip-path: var(--move5);
      transform: translate(10px,-10px);
    }
  
    50% {
      clip-path: var(--move6);
      transform: translate(-10px,10px);
    }
  
    60% {
      clip-path: var(--move1);
      transform: translate(10px,-10px);
    }
  
    70% {
      clip-path: var(--move3);
      transform: translate(-10px,10px);
    }
  
    80% {
      clip-path: var(--move2);
      transform: translate(10px,-10px);
    }
  
    90% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    100% {
      clip-path: var(--move1);
      transform: translate(0);
    }
  }
  
  .button {
    height: 2em;
    width: 5em;
    border-radius: 1em;
    border: 0.1rem solid transparent;
    background-color: rgb(64, 146, 239);
    transition: 0.3s;
    font-size: 1em;
  }
  
  .button:hover {
    cursor: pointer;
    transform: scale(1.05) rotate(3deg);
  }
  
  .button:active {
    animation: borderMove 0.5s forwards;
    transform: scale(0.9) rotate(-3deg);
    background-color: rgb(0, 0, 0);
    color: rgb(64, 146, 239);
    border: 0.1rem solid rgb(38, 103, 224);
  }
  
  @keyframes borderMove {
    0% {
      border-width: 0.1rem;
      transform: scale(1) rotate(0deg);
    }
  
    50% {
      border-width: 0.4rem;
      transform: scale(0.9) rotate(-3deg);
    }
  
    100% {
      border-width: 0.15rem;
      transform: scale(1) rotate(0deg);
    }
  }
