.slogan-container {
    position: relative;
    width: 300px;
    height: 100px;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    margin: 20px auto;
}

.main-text {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    margin-right: 10px;
    /* Para separar "CASH ME" y el texto animado */
}

#animatedText {
    font-size: 24px;
    /* Asegúrate de que sea igual al tamaño de "CASH ME" */
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    /* Asegúrate de que el color sea blanco */
}


@keyframes fade {

    0%,
    20% {
        opacity: 0;
    }

    25%,
    75% {
        opacity: 1;
    }

    80%,
    100% {
        opacity: 0;
    }
}

.carrosel {
    -webkit-perspective: 250px;
    -moz-perspective: 250px;
    width: 400px;
    height: 200px;
    top: 50px;
    position: relative;
    margin: 0 auto;
}

@-webkit-keyframes efeitoCarrosel {
    from {
        -webkit-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
        -moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
        z-index: 10;
        opacity: 1
    }

    50% {
        z-index: -10;
    }

    to {
        -webkit-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
        -moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
        z-index: 10;
        opacity: 1
    }
}

@-moz-keyframes efeitoCarrosel {
    from {
        -moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
        z-index: 10;
        opacity: 1
    }

    50% {
        z-index: -10;
    }

    to {
        -moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
        z-index: 10;
        opacity: 1
    }
}

.caixa__card {
    width: 90px;
    height: 100px;
    background-color: #442222;
    position: absolute;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    top: 35px;
    left: 125px;
    font-size: 9px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);
    text-align: center;
    -webkit-animation-name: efeitoCarrosel;
    -moz-animation-name: efeitoCarrosel;
    -webkit-animation-duration: 8s;
    -moz-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.caixa__card:hover {
    border: solid #4466cc 3px;
    box-shadow: 0px 0px 10px #4466cc;
}

.caixa__card.cc__1 {
    background: linear-gradient(-229deg, #0093E9, #80D0C7);
    -webkit-animation-delay: -7s;
    -moz-animation-delay: -7s;
}

.caixa__card.cc__2 {

    background: linear-gradient(-229deg, #00DBDE, #FC00FF);
    -webkit-animation-delay: -6s;
    -moz-animation-delay: -6s;
}

.caixa__card.cc__3 {

    background: linear-gradient(-229deg, #50d990, #d4d054);
    -webkit-animation-delay: -5s;
    -moz-animation-delay: -5s;
}

.caixa__card.cc__4 {
    background: linear-gradient(-229deg, #cf91ff, #5782F5);
    -webkit-animation-delay: -4s;
    -moz-animation-delay: -4s;
}

.caixa__card.cc__5 {
    background: linear-gradient(-229deg, #642B73, #C6426E);
    -webkit-animation-delay: -3s;
    -moz-animation-delay: -3s;
}

.caixa__card.cc__6 {
    background: linear-gradient(-229deg, #D9AFD9, #97D9E1);
    -webkit-animation-delay: -2s;
    -moz-animation-delay: -2s;
}

.caixa__card.cc__7 {
    background: linear-gradient(-229deg, #FBAB7E, #F7CE68);
    -webkit-animation-delay: -1s;
    -moz-animation-delay: -1s;
}

.caixa__card.cc__8 {
    background: linear-gradient(-229deg, #1472ff, #A8EB12);
}

#LOGIN:hover {
    background-color: #5cdb95;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px #5cdb95,
        0 0 25px #5cdb95,
        0 0 50px #5cdb95,
        0 0 100px #5cdb95
}

#LOGIN span {
    position: absolute;
    display: block;
}


#LOGIN span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #5cdb95);
    animation: btn-anim1 1s linear infinite;
}


.neu-button {
    background-color: #e0e0e0;
    border-radius: 50px;
    box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
    color: #4d4d4d;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 40px;
    transition: all 0.2s ease-in-out;
    border: 2px solid rgb(206, 206, 206);
}

.neu-button:hover {
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

.neu-button:focus {
    outline: none;
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

#footer-container {
    position: relative;
    width: 100%;
    padding-top: 20px;
    /* Espacio para el switch */
}

/* Estilos del switch */
.switch {
    font-size: 17px;
    position: absolute;
    top: -20px;
    right: 20px;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: 2px solid #414141;
    border-radius: 50px;
    transition: all 0.6s cubic-bezier(0.3, 0.6, 0.3, 1);
    /* Transición más suave */
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.2em;
    bottom: 0.2em;
    background-color: white;
    border-radius: inherit;
    transition: all 0.6s cubic-bezier(0.3, 0.6, 0.3, 1);
    /* Transición más suave */
}

.switch input:checked+.slider {
    box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
    border: 2px solid #0974f1;
}

.switch input:checked+.slider:before {
    transform: translateX(1.5em);
}